{% assign current_lang = include.lang | default: page.lang | default: site.default_lang %}
{% assign current_locale = include.t %}
{% assign footer_pages = site.pages | where: "lang", current_lang | where: "include_in_footer", true | sort: "nav_order" %}
<footer>
	{% if site.your_name %}
	<p class="footerText">{{ current_locale.footer.made_by }} {% if site.your_link %}<a href="{{ site.your_link }}">{% endif %}{{ site.your_name }}{% if site.your_link %}</a>{% endif %}{% if site.your_city %} {{ current_locale.footer.in }} {{ site.your_city }}{% endif %}</p>
	{% endif %}
	<div class="footerIcons">
		{% if site.github_username %}
			<a href="https://github.com/{{ site.github_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-github fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.email_address %}
			<a href="mailto:{{ site.email_address }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

	</div>
	<div class="footerLinks">
		{% for footer_page in footer_pages %}
			<a href="{{ footer_page.url | relative_url }}" target="_self">{{ footer_page.title }}</a>
		{% endfor %}
		{% if site.presskit_download_link %}
			<a href="{{ site.presskit_download_link }}">{{ current_locale.footer.press_kit }}</a>
		{% endif %}
	</div>
</footer>
